<!-- Navbar -->
<div class="container-fluid px-5">
    <header class="p-3 mb-3 border-bottom">
        <div class="container d-flex flex-wrap align-items-center">
            <h3 class="me-auto"><a href="/" class="nav-link link-body-emphasis">Jacques</a></h3>
            <a href="{{ url_for('spotify') }}" class="nav-link px-3 link-body-emphasis fs-5">Spotify</a>
            <a href="{{ url_for('keygen') }}" class="nav-link px-3 link-body-emphasis fs-5">KeyGen</a>
            <a href="{{ url_for('learn') }}" class="nav-link px-3 link-body-emphasis fs-5">Learn</a>
            <a href="{{ url_for('paletter') }}" class="nav-link px-3 link-body-emphasis fs-5">Paletter</a>
        </div>
    </header>
</div>