<!-- Navbar -->
<div class="container-fluid px-5">
    <header class="p-3 mb-3 border-bottom">
        <div class="container d-flex flex-wrap align-items-center">
            <h3 class="me-auto"><a href="/" class="nav-link link-body-emphasis">Jacques M</a></h3>
            <a href="{{ url_for('spotify') }}" class="nav-link px-3 link-body-emphasis fs-5">Spotify</a>
            <a href="{{ url_for('blog') }}" class="nav-link px-3 link-body-emphasis fs-5">Blog</a>
        </div>
    </header>
</div>