{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid py-3 my-3 px-5">
    <div class="px-4 text-center">

        <!--
        <h1 class="display-5 fw-bold text-body-emphasis pb-2">
            Coder, Cyclist, Collector
        </h1>

        <div class="col-lg-7 mx-auto">
            <p class="lead mb-3">
                Ambitious and passionate Python developer, keen cyclist, avid learner.
            </p>
        </div>
        -->

        <img
                src="{{ url_for('static', filename='images/CoverCropped.png') }}"
                class="img-fluid border rounded-4 shadow-lg mx-auto d-block"
                alt="Home image"
                style="max-width: 100%; height: auto; width: min(80vw, 1100px);"
        >

    </div>
</div>
{% endblock %}